<?xml version="1.0" encoding="UTF-8"?>

    <manifest package="com.example.colorapp" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />


    <application android:theme="@style/AppTheme" android:supportsRtl="true" android:roundIcon="@mipmap/ic_launcher_round" android:icon="@drawable/heartbear"
        android:label="COLORFUL" android:allowBackup="true">


    <activity android:name=".TotalActivity">


    <intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>

    <activity android:name=".MainActivity" android:label="activity_main"/>
    <activity android:name=".ColoringActivity" android:label="activity_color"/>
    <activity android:name=".ColoringActivity2" android:label="activity_coloring"/>
    <activity android:name=".RgbMain" android:label="activity_rgbmain"/>
    <activity android:name=".HexToRGBActivity" android:label="activity_hex_to_rgb"/>
    <activity android:name=".RGBToHexActivity" android:label="activity_rgb_to_hex"/>
    <activity android:name=".ColoringActivity_Camera" android:label="activity_camera"/>
    <activity android:name=".SelectPhoto" android:label="activity_select"/>
    <activity android:name=".SplashActivity" android:theme="@style/SplashTheme" android:screenOrientation="portrait"/>
    <activity android:name=".HappyActivity" android:label="activity_happy"/>
    <!--<activity android:name=".test" android:label="test"/>-->



    <provider android:name="android.support.v4.content.FileProvider" android:grantUriPermissions="true" android:exported="false" android:authorities="com.example.android.fileprovider">

    <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"> </meta-data>

</provider>

</application>

</manifest>